.cart {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
  border-radius: 6px;
  padding-left: 0;
  font-size: 0.7rem;
  overflow: hidden;
}

.cart .cart-title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 600;
  padding-left: 0.5rem;
  background-color: rgb(245, 244, 242);
  padding: 0.6rem;
}

.cart .cart-title p {
  padding: 0;
  margin: 0;
}

.cart img {
  width: 50%;
  margin: 0;
  padding: 0.4rem;
}

.cart ul {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 25rem;
  margin-bottom: 1rem;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

.cart ul::-webkit-scrollbar {
  width: 0.3rem;
}

.cart ul::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.cart ul::-webkit-scrollbar-thumb {
  background: black;
}

.cart li {
  display: flex;
  align-items: start;
  list-style-type: none;
  border-bottom: 1px solid rgb(201, 201, 201);
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  margin: 0;
}

.cart-product-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.cart-product-info {
  display: flex;
  padding: 0.4rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.cart .cart-product-info button {
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
}

.cart .cart-product-container p {
  padding-left: 0.4rem;
}

.cart-product-price {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 0.4rem;
}

.clear-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 2rem;
  border-radius: 6px;
  letter-spacing: 1.3px;
  background-color: rgb(52, 52, 52);
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.clear-cart-button:hover {
  background: rgb(90, 90, 90);
}

.final-price-container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem 0.5rem 1rem;
  width: 100%;
  background-color: rgb(245, 244, 242);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.8rem;
}

.final-price {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.final-price-container .btn-purchase {
  border-radius: 6px;
  padding: 0.3rem;
  background-color: rgb(52, 52, 52);
  color: white;
  transition: background-color 0.3s ease-in-out;
  letter-spacing: 1.3px;
}

.final-price-container .btn-purchase:hover {
  background: rgb(90, 90, 90);
}
