.catalog-header {
  display: flex;
  justify-content: space-between;
}

@media (100px <= width <= 916px) {
  .catalog-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.catalog-header .category {
  margin-left: 0.6rem;
  font-weight: 650;
  padding-left: 2rem;
  letter-spacing: 1.5px;
  color: rgba(0, 0, 0, 0.723);
}

@media (100px <= width <= 916px) {
  .catalog-header .category {
    padding: 0;
    margin: 1rem 0 0 0;
  }
}

.catalog-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 0.2rem;
  padding: 0 1.5rem;
}

@media (100px <= width <= 916px) {
  .catalog-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.catalog-card {
  position: relative;
  transition: box-shadow 0.6s ease;
  padding: 1rem;
}

.catalog-card:hover {
  box-shadow: -0.2rem 0.2rem 1rem 0.2rem grey;
}

.catalog-container img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.catalog-item {
  position: relative;
  border: 1px solid black;
}

.catalog-item-cart {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgb(255, 255, 255, 0.7);
  color: black;
  font-weight: 600;
  letter-spacing: 1.3px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.catalog-item-cart:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.catalog-item-cart p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  font-size: 0.65rem;
  padding: 0.3rem;
}

.catalog-item-description {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 520;
}

.catalog-item-description .item-description {
  padding: 0.5rem 0 0 0;
  margin: 0;
}

.catalog-item-description .item-price {
  margin: 0;
  padding-bottom: 1rem;
}

@media (100px <= width <= 916px) {
  .filter-container {
    width: 100% !important;
    margin: 1rem 0 0 0;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: end;
  }
}
