.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.9rem;
}

.image-Logo {
  position: relative;
  margin: 0 auto;
  width: 13%;
  cursor: pointer;
}

@media (100px <= width <= 916px) {
  .image-Logo {
    width: 30%;
  }
}

.burger-menu {
  position: relative;
  cursor: pointer;
  font-size: 1.2rem;
  left: 3rem;
  top: 0px;
}

.cart-icon {
  position: relative;
  font-size: 1.7rem;
  right: 3rem;
  cursor: pointer;
}

.menu-container {
  position: fixed;
  top: 0.5rem;
  width: 20vw;
  height: 75%;
  background-color: white;
  transition: transform 0.3s ease-in-out;
  z-index: 10;
  border-radius: 6px;
  overflow: hidden;
}

@media (100px <= width <= 916px) {
  .menu-container {
    width: 95%;
    height: 90%;
  }
}

.menu-container.left {
  left: 0.5rem;
}

.menu-container.left.menu-is-open {
  transform: translateX(0);
}

.menu-container.left.menu-is-closed {
  transform: translateX(calc(-100% - 0.5rem));
}

.menu-container.right {
  right: 0.5rem;
}

.menu-container.right.menu-is-open {
  transform: translateX(0);
}

.menu-container.right.menu-is-closed {
  transform: translateX(calc(100% + 0.5rem));
}

.close-icon {
  font-size: 0.9rem;
  margin-right: 0.3rem;
  padding: 0;
  cursor: pointer;
}

.close-button {
  color: inherit;
  border: none;
  background-color: transparent;
}

.close-button p {
  font-size: 0.9rem;
  font-weight: 550;
}

.ul-links {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-top: 1px solid rgb(201, 201, 201);
  border-bottom: 1px solid rgb(201, 201, 201);
  border-bottom-right-radius: 1px;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  padding-left: 0;
}

@media (100px <= width <= 916px) {
  .ul-links {
    align-items: center;
  }
}

.menu-container a {
  text-decoration: none;
  color: inherit;
  font-weight: 380;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

/* Cart */
@media (100px <= width <= 916px) {
  .cart ul {
    max-height: 15rem !important;
  }
}

.overlay-menu {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 8;
}
