.filter-container {
  position: relative;
  width: 25%;
  display: flex;
  flex-direction: column;
  padding-right: 2.4rem;
  margin-bottom: 1rem;
}

.label {
  display: flex;
  font-size: 0.7rem;
  font-weight: 450;
  padding-left: 0.2rem;
  cursor: pointer;
}

.select {
  padding-bottom: 0.5rem;
  border: none;
  border-bottom: 3px solid black;
  font-size: 1.1rem;
  font-weight: 500;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: inherit;
}

.select:focus {
  outline: none;
}

.select:hover {
  border-bottom: 3px solid rgb(175, 175, 175);
}
