.error-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  overflow: hidden;
}

.backgrounderror-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.error-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.3);
  z-index: -1;
}

.error-text {
  background-color: rgb(0, 0, 0, 0.4);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  color: white;
  border: 1px solid white;
}

.error-title {
  font-weight: 800;
  width: 100%;
  display: flex;
  justify-content: start;
}

.error-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: start;
  font-weight: 500;
}

.error-description a {
  width: 100%;
}

.error-description button {
  width: 100%;
  padding: 0.2rem;
  letter-spacing: 3px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: 650;
  transition: 0.3s ease-in-out;
}

.error-description button:hover {
  transform: scale(1.05);
}
