.footer-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border-radius: 3px;
  padding: 1rem;
  background-color: #f8f8f8;
}

.logo {
  border-top: 1px solid rgb(201, 201, 201);
}

.logo img {
  width: 8.5%;
}

@media (100px <= width <= 916px) {
  .logo img {
    width: 34%;
  }
}

.p-container {
  display: flex;
  justify-content: start;
}

@media (100px <= width <= 916px) {
  .p-container {
    display: flex;
    justify-content: center;
  }
}

.p-container p {
  font-size: 0.9rem;
  font-weight: 400;
}

.form-container {
  display: flex;
  align-items: center;
}

@media (100px <= width <= 916px) {
  .form-container {
    justify-content: center;
  }
}

.form {
  width: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

@media (100px <= width <= 916px) {
  .form {
    width: 100%;
    margin-bottom: 1.8rem;
  }
}

.form-group {
  position: relative;
  width: 40%;
  display: grid;
  grid-template-areas: "input";
  align-items: center;
}

@media (100px <= width <= 916px) {
  .form-group {
    width: 100%;
  }
}

.form .form-control {
  grid-area: input;
  width: 100%;
  height: 2.5rem;
  border: solid 1px black;
}

.form .form-control:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.form-group label {
  display: flex;
  align-items: center;
  text-decoration: none;
  grid-area: input;
  z-index: 10;
  width: max-content;
  height: 100%;
  margin-left: 1.5rem;
  transform-origin: left center;
  transition: transform 0.5s;
  font-size: 0.9rem;
}

.form-control:focus + label,
.form-control:not(:placeholder-shown) + label {
  transform: translateY(calc(-50% - 0.6rem)) scale(0.7);
}

.form-control.is-invalid {
  border: 1px solid rgb(225, 132, 132);
}

.form .form-control.is-invalid:focus {
  border: 1px solid rgb(225, 132, 132);
  outline: none;
  box-shadow: none;
}

.error {
  position: absolute;
  top: 2.7rem;
  left: 0;
  color: red;
  font-weight: 400;
  font-size: 0.75rem;
}

@media (100px <= width <= 916px) {
  .error {
    font-size: 0.6rem;
  }
}

.submit-button {
  width: 7rem;
  margin-left: 0.5rem;
  border-radius: 3px;
  padding: 0.3rem;
  letter-spacing: 2.5px;
  font-weight: 450;
  background-color: rgb(52, 52, 52);
  color: white;
  transition: background-color 0.3s ease-in-out;
  border: none;
  font-size: 1rem;
}

.submit-button:hover {
  background: rgb(90, 90, 90);
}

.social-container {
  border-bottom: 1px solid rgb(201, 201, 201);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-container div {
  display: flex;
  margin: 0 0.5rem 0 0.5rem;
}

.social-container p {
  margin-right: 0.5rem;
  font-size: 0.9rem;
}

.social-container a {
  text-decoration: none;
  color: grey;
  transition: color 0.2s ease-in-out;
}

.social-container a:hover {
  color: rgb(0, 0, 0);
}
