.product-details-header {
  width: 100%;
  display: flex;
  justify-content: start;
}

.product-details-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 70vh;
  width: 100%;
  margin-top: 2rem;
}

@media (100px <= width <= 916px) {
  .product-details-container {
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
  }
}

.product-details-image-container {
  display: flex;
  align-items: start;
  justify-content: end;
  padding: 2rem;
  border-right: 1px solid rgb(201, 201, 201);
  height: 80%;
  margin: 0.3rem;
}

@media (100px <= width <= 916px) {
  .product-details-image-container {
    width: 100%;
    padding: 0.5rem;
  }
}

.product-details-info-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 2rem;
  margin: 0.3rem;
  height: 80%;
  background-color: rgba(201, 201, 201, 0.2);
  border: solid 1px rgb(201, 201, 201);
}

.product-details-info-container > * {
  display: flex;
  justify-content: start;
}

@media (100px <= width <= 916px) {
  .product-details-info-container {
    width: 100%;
    height: 100%;
  }
}

.product-details-category {
  font-size: 0.8rem;
}

.product-details-description-title {
  width: 100%;
  border-bottom: solid 1px rgb(201, 201, 201);
  padding-bottom: 0.5rem;
  margin-top: 1rem;
}

.product-details-description {
  padding-top: 1rem;
  text-align: left;
}

@media (100px <= width <= 916px) {
  .product-details-description {
    margin-bottom: 1rem;
  }
}

.product-details-price {
  padding: 0.5rem 0;
}

.product-details-button {
  position: relative;
  margin-top: auto;
  width: 100%;
}

.product-details-button button {
  width: 100%;
  border-radius: 6px;
  padding: 0.3rem;
  background-color: rgb(52, 52, 52);
  color: white;
  transition: background-color 0.3s ease-in-out;
  letter-spacing: 1.3px;
}

.product-details-button button:hover {
  background-color: rgb(90, 90, 90);
}

@media (100px <= width <= 916px) {
  .carousel-container {
    height: 100%;
    padding: 0;
    gap: 0.5rem;
    border: none;
  }
}

@media (100px <= width <= 916px) {
  .thumbnail-container {
    display: none;
  }
}
